<!--
  @component NewInvestigationDialog Component
  @description A component that pops up and recieves the name and process type of a new investigation.
-->

<h2 mat-dialog-title> Decision Support Report </h2>

<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>
    <!-- Collecting name of the report -->
    <p> Title </p>
    <mat-form-field appearance="outline">
      <input matInput formControlName="name" placeholder="Title" required>
    </mat-form-field>

    <!-- Collecting decision support type of the report -->
    <p> Which decision Support will be made into a report? </p>
    <mat-form-field appearance="outline">
      <mat-select formControlName="process_id" placeholder="Select Process">
        <mat-option *ngFor="let processId of processId" [value]="processId.value"> {{processId.label}} </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <!-- Close and submit form buttons -->
  <mat-dialog-actions>
    <button class="closeButton" mat-button (click)="close()"> Close </button>
    <button class="createButton" mat-button color="primary" type="submit" [disabled]="form.invalid"> Create </button>
  </mat-dialog-actions>
</form>
