/** Styling for dialog Content */
.mat-dialog-title{
  font-size: 35px;
}

:host ::ng-deep .mdc-text-field--outlined{
  --mdc-outlined-text-field-container-shape: 15px;
}

.createButton:enabled,
button[enabled]{
  color: black;
  border-radius: 10px;
}

.createButton:enabled:hover,
button[enabled]{
  background-color: #7a9bbf;
  color: white;
  border-radius: 10px;
}

.closeButton:enabled,
buton[enabled]{
  color: black;
  border-radius: 10px;
}

.closeButton:hover{
  color: white;
  background-color: #7a9bbf;
  border-radius: 10px;
}


.mat-dialog-content {
  width: 100%;
}


mat-form-field {
  width: 100%;
}
