<!--
  @component Unsaved Changes Alert Dialog Component
  @description Dialog to alert user about unsaved decsion support.
-->

<!-- Mat Dialog with Mesaage and action buttons -->

<h2 mat-dialog-title>Unsaved Changes</h2>
<mat-dialog-content>
    <h3>You have unsaved changes in <span class="details">{{decisionSupportId}}.{{decisionSupportName}}</span> Would you like to continue working on these changes or discard them?</h3>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button class="delete-bt" (click)="discard()">Discard </button>
    <button mat-button color="primary" (click)="continue()">Continue</button>
</mat-dialog-actions>
