/** Styling for mat dialog */
.mat-dialog-content {
  width: 100%;
}

.details {
  color: black;
}

.delete-bt {
  background-color: #143354 !important;
  color: white;
}

.delete-bt:hover {
  background-color: #7a9bbf !important;
  color: white;
}

.continue{
  background-color: #accbe3;
  color: white;
}

.continue:hover{
  background-color: #7a9bbf;
  color: white;
}
