/** Styling for the top container*/
.top-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
    background-color: #fff;
    box-shadow: none;
    margin-bottom: 20px;
    border-radius: 8px;
}

.top-container h2 {
    font-size: 24px;
    font-weight: 600;
    color: #143354;
}

/** Styling for Mat Tab */
.mattab {
    width: 100%;

}


mat-tab-group {
    width: 100%;

}

.wrapper{
  //background-color: white;
  border-top: 4px;
  border-bottom: 4px;
  padding-right: 20px;
  padding-left: 20px;
}

