<!--
  @component Add Process Step Dialog Component
  @description Dialog with form fields and action to add a new process step.
-->

<!-- Mat Dialog with form -->
<h2 mat-dialog-title>Add Step</h2>
<form #stepForm="ngForm" (ngSubmit)="save(stepForm)">
  <mat-dialog-content>
    <!-- Process Step Description -->
    <p>Description</p>
    <mat-form-field>
      <input matInput [(ngModel)]="formData.description" name="description" placeholder="Description" (ngModelChange)="addDataToLocalStorage()" required>
    </mat-form-field>
    <!-- Process Step Required Status-->
    <p>Required</p>
    <mat-form-field>
      <mat-select [(ngModel)]="formData.required" name="required" placeholder="Select Required Status" (ngModelChange)="addDataToLocalStorage()"  required>
        <mat-option [value]="'1'">Yes</mat-option>
        <mat-option [value]="'0'">No</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Process Step Type-->
    <p>Element Type</p>
    <mat-form-field>
      <mat-select [(ngModel)]="formData.type" name="type" placeholder="Select Element Type" (ngModelChange)="addDataToLocalStorage()"  required>
        <mat-option *ngFor="let type of type" [value]="type.value">{{ type.label }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Add/Remove Process Step Choices if the step type radio/checkbox -->
    <div *ngIf="formData.type === 'radio' || formData.type === 'radio&text' || formData.type === 'checkbox&text' || formData.type === 'checkbox'">
      <p>Options:</p>
      <div *ngFor="let choice of formData.choices; let i = index">
        <mat-form-field>
          <input matInput [(ngModel)]="choice.description" placeholder="Option {{ i + 1 }}"  name="choice{{i}}" (ngModelChange)="addDataToLocalStorage()" required>
          <!-- Remove Choice -->
          <button mat-icon-button type="button" (click)="removeChoice(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <button class="add" mat-button type="button" (click)="addChoice()">+ Add Option</button>
    </div>

    <!-- Process Step Condition -->
    <p>Logic:</p>
    <div *ngFor="let condition of formData.conditions; let i = index">
      <!-- Condition Step description -->
      <mat-form-field appearance="outline">
        <p>Condition {{ i + 1 }}</p>
        <mat-select [(ngModel)]="condition.stepUuid" name="conditionStep{{i}}" (selectionChange)="updateStepConditionChoices(condition.stepUuid, i)" placeholder="Select Step" (ngModelChange)="addDataToLocalStorage()"  required>
          <mat-option *ngFor="let step of filteredStepsData" [value]="step.stepUuid">{{ step.id }}. {{ step.description }}</mat-option>
        </mat-select>
      </mat-form-field>
      <!-- Condition Step Value-->
      <mat-form-field appearance="outline">
        <p>Value is</p>
        <mat-select [(ngModel)]="condition.choiceUuid" name="conditionChoice{{i}}" placeholder="Select Value" (ngModelChange)="addDataToLocalStorage()"  required>
          <mat-option *ngFor="let choice of condition.stepChoices" [value]="choice.choiceUuid">{{ choice.description }}</mat-option>
        </mat-select>
        <!-- Remove Condition -->
        <button mat-icon-button type="button" (click)="removeCondition(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <!-- Add Condition -->
    <button class="add" mat-button type="button" (click)="addCondition()">+ Add Condition</button>
  </mat-dialog-content>
  <!-- Dialog Actions - Close & Create-->
  <mat-dialog-actions>
    <button class="closeButton" mat-button (click)="close()">Close</button>
    <button class="createButton" mat-button color="primary" type="submit" [disabled]="stepForm.invalid">Create</button>
  </mat-dialog-actions>
</form>
