
  .card-content .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .delete-btn {
    background-color: #143354;
    margin-left: auto;
  }

  .material-icons{
    color: white;
  }

  .button{
    background-color: #accbe3;
    color: white;
  }

  .button:hover{
    background-color: #7a9bbf;
    color: white;
  }
