<!--
  @component InvestigationList Component
  @description Lists the available investigations. Allows a user to start new investigations based off of a created process.
                  Investigations are refered to on the site as "Decision Support".
-->

<!-- Heading and New Investigation Button-->
<div>
  <div class="wrapper">
    <h2> Decision Support </h2>
  </div>

  <button class="addbutton" (click)="addInvestigation()"> New Decision Support </button>
</div>

<!-- Table of Investigations-->
<mat-table #table [dataSource]="investigations" class="mat-elevation-z0">

  <!-- ID# Column -->
  <ng-container matColumnDef="investigationId" sticky>
    <mat-header-cell *matHeaderCellDef> ID# </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.entityId}} </mat-cell>
  </ng-container>

  <!-- Title of Investigation Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <!-- Title is a link to the investigation's page with the link domain.host/support/:entityId -->
      <a [routerLink]="['/support', element.entityId]"> {{element.label}} </a>
    </mat-cell>
  </ng-container>

  <!-- Process Type Column -->
  <ng-container matColumnDef="processId">
    <mat-header-cell *matHeaderCellDef> Process Type </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.processId}} </mat-cell>
  </ng-container>

  <!-- Creation Time Column -->
  <ng-container matColumnDef="createdTime">
    <mat-header-cell *matHeaderCellDef> Created Time </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.createdTime}} </mat-cell>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>

    <mat-cell class="hovering" *matCellDef="let element">
      <i class="material-icons" (click)="archiveInvestigation(element.entityId)" >unarchive</i>
      <!--  <i class="material-icons" (click)="updateInvestigation(element)" >drive_file_rename_outline</i> -->
    </mat-cell>
  </ng-container>


  <!-- Display the first row of headings. -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>



