

/* Styling Container for the top section with title and create button */
.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: none;
  margin-bottom: 20px;
  border-radius: 8px;
}

br{
  display: block;
  margin: 10px 0;
}

.report-container {
  display: flex;
  //justify-content: space-between;
  //align-items: flex-start;
  padding: 20px;
  background-color: #fff;
  box-shadow: none;
  margin-bottom: 20px;
  border-radius: 8px;
}

.download{
  color:#ffff;
  background-color: #143354;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  border-color: transparent;
  box-shadow: none;
  width: 250px;

  padding: 12px 24px;
  transition: background-color 0.3s ease;
  cursor: pointer;

}

.download:hover{
  color:#ffff;
  background-color: #7a9bbf;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  border-color: transparent;
  font-color: white;
}


.Tile{
  left: 150px;
  width: 100%;
  font-size: 35px;
  color: #143354;
  //display: inline-block;
}

.wrapper{
  //background-color: white;
  border-top: 4px;
  border-bottom: 4px;
  padding-right: 20px;
  padding-left: 20px;
}
.container{
  background-color: #fafafb;
  padding: 6%;
  padding-top: 2%;
}
.preview-container{
  background-color: #ffff;
  border: 2px solid white;
  padding: 0 2%;
  border-radius: 10px;
  font-size: 17px;
}
.header-container{
  background-color: #ffff;
  border: 2px solid white;
  padding:  2%;
  border-radius: 10px;
  font-size: 18px;
}
.div-spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

/* No Data Styling */
.noData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10%;
}

.noData p {
  font-weight: 500;
  color: rgb(183, 183, 183);
  margin-bottom: 20px;
}

.no-data-container {
  background-color: white; 
  padding: 20px; 
  border-radius: 8px; 
}