<!--
  @component ReportGenerator Component
  @description Lists the available reports. And allows user to create new reports.
-->

<!-- The top container div containing title, filter, create button-->
<div class="wrapper">
    <div class="top-container">
      <div>
        <h2>Report List</h2>
        <p>Generate and Manage Reports</p>
      </div>
    </div>
  </div>
  
  <div class="wrapper">
    <!-- Table of Investigations to be made into reports-->
    <mat-table #table [dataSource]="investigations" class="mat-elevation-z0">
  
      <!-- ID# Column -->
      <ng-container matColumnDef="investigationId" sticky>
        <mat-header-cell *matHeaderCellDef> ID# </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.entityId}} </mat-cell>
      </ng-container>
  
      <!-- Title of Investigation Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <!-- Title is a link to the investigation's page with the link domain.host/support/:entityId -->
          <a> {{element.label}} </a>
        </mat-cell>
      </ng-container>
  
      <!-- Process Type Column -->
      <ng-container matColumnDef="processId">
        <mat-header-cell *matHeaderCellDef> Process Type </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.processLabel}} </mat-cell>
      </ng-container>
  
      <!-- Creation Time Column -->
      <ng-container matColumnDef="createdTime">
        <mat-header-cell *matHeaderCellDef> Created Time </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.createdTime}} </mat-cell>
      </ng-container>
  
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell class="hovering" *matCellDef="let element">
          <a [routerLink]="['/Report', element.entityId]" ><button class="addbutton" >Create Report</button></a>
        </mat-cell>
      </ng-container>
  
  
      <!-- Display the first row of headings. -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
  </div>