/* Body Styling */
body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
  }

  /* Styling Container for the top section with title and create button */
  .top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 10px;
  }


  .top-container h2 {
      font-size: 24px;
      font-weight: 600;
      color: #7a9bbf;

  }

  .createbutton {
    color:#ffff;
    background-color: #accbe3;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 24px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    box-shadow: none;
    border: none;
  }

  .createbutton:hover {
    color:#ffff;
    background-color: #7a9bbf;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
  }

  .filter-div{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
  }

  .filter-div mat-select,
  .filter-div mat-form-field {
      width: 200px;
  }

  .filter-div mat-form-field {
      flex: 1;
  }

  /* Table styling */
  .mat-mdc-header-row{
    background-color: #7a9bbf !important;
    color: white;
    border-radius: 10px;
    font-size: 16px;
  }


  .mat-mdc-table{
    border-radius: 8px;
    overflow:hidden !important;
  }

  .mat-mdc-row:nth-child {
    background-color: #fff;
  }
  mat-cell {
    border-bottom: 1px solid #E0E0E0;
    padding: 16px;
  }


  .searchIcon{
    color: black;
  }


  .entityid{
      font-weight: 600;
  }

  a:link {
      color: #65848b;
      font-weight: 500;
      background-color: transparent;
      text-decoration: none;
      font-size: 15px;
  }



  a:hover {
      color: #374357;
      background-color: transparent;
      text-decoration: none;
      }


  a:visited {
    color: #586d8a;
    background-color: transparent;
    text-decoration: none;
  }



  /* No Data Styling */
  .noData {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 10%;
  }

  .noData p {
      font-weight: 500;
      color: rgb(183, 183, 183);
      margin-bottom: 20px;
  }

  .iconButton{
    background-color: #accbe3;
    color: #fff;
    border-radius: 6px;
    margin-right: 10px;
    padding: 8px 8px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
  }

  .iconButton:hover{
    background-color: #7a9bbf;
    color: #fff;
    border-radius: 6px;
    margin-right: 10px;
    padding: 8px 8px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
  }

  .addbutton{
    background-color: #accbe3;
    color: #fff;
    border-radius: 6px;
    margin-right: 10px;
    padding: 8px 8px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    width: 130px;
  }


  .button-container{
    width: 100%;
    /* padding-top: 1%; */
    padding-bottom: 1%;
    padding-left: 10px;
    /*background-color: white;*/
    margin-bottom: 1%;
    display: inline-flex;

    height: 40px;
    line-height: 40px;

    float: right;
  }


  .wrapper{
    //background-color: white;
    border-top: 4px;
    border-bottom: 4px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .div-spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
