/* Preview Container Styling */
*{
    font-size: 16px;
}
h1{
    font-size: 20px;
}
.container{
    background-color: #fafafb;
    padding: 6%;
    padding-top: 2%;
}
.preview-container{
    background-color: #ffff;
    border: 2px solid white;
    padding: 2%;
    border-radius: 10px;
   
}

/* No Data Styling */
.noData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10%;
}

.noData p {
    font-weight: 500;
    color: rgb(183, 183, 183);
    margin-bottom: 20px;
}

.div-spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }