<!--
  @component Preview Process Steps Component
  @description Display the preview of process step
-->
<div class="container" *ngIf= "response">
    <!-- The preview container to display the steps -->
    <div class="preview-container" >
        <!-- Check is steps available -->
        <div *ngIf="processSteps.length != 0">
            <h1>{{processDetails.label}}</h1>
            <!-- Display steps based on type -->
            <div *ngFor="let processStep of processSteps">
                <h2>Step {{processStep.id}} </h2>
                <p>{{processStep.description}}</p>
                <!-- Radio & Text Boxes -->
                <div *ngIf="processStep.type === 'radio&text'">
                    <mat-radio-group>
                        <div *ngFor="let choices of processStep?.choices" class="steps">
                            <mat-radio-button [value]="choices.choiceUuid">{{choices.description}}</mat-radio-button>
                        </div>
                    </mat-radio-group>
                    <br />
                    <b>Please provide further details.</b><i>Optional</i><br /><br />
                    <quill-editor></quill-editor>
                </div>
                <!-- Radio -->
                <div *ngIf="processStep.type === 'radio'">
                    <mat-radio-group>
                        <div *ngFor="let choices of processStep?.choices" class="steps">
                            <mat-radio-button [value]="choices.choiceUuid">{{choices.description}}</mat-radio-button>
                        </div>
                    </mat-radio-group>
                </div>
                <!-- Checkbox and Text -->
                <div *ngIf="processStep.type === 'checkbox&text'">
                    <div *ngFor="let choice of processStep?.choices">
                        <mat-checkbox>
                            {{choice.description}}</mat-checkbox>
                    </div>
                    <br />
                    <b>Please provide further details. </b><i>Optional</i><br /><br />
                    <quill-editor></quill-editor>
                </div>
                <!-- Checkbox -->
                <div *ngIf="processStep.type === 'checkbox'">
                    <div *ngFor="let choice of processStep?.choices">
                        <mat-checkbox>
                            {{choice.description}}</mat-checkbox>
                    </div>
                </div>
                <br />
                <!--Textbox-->
                <div *ngIf="processStep.type === 'textbox'">
                    <quill-editor></quill-editor>
                </div>
            </div>
        </div>
        <!-- Display no data available message if no process steps available -->
        <div class="noData" *ngIf="processSteps.length == 0">
            <img src="/assets/noData.jpg" />
            <p>No Steps Found - Add Step</p>
        </div>
    </div>
</div>
<div class="div-spinner" *ngIf="!response">
    <mat-spinner></mat-spinner>
</div>