/* Table styling */

.mat-mdc-header-row {
    background-color: #143354 !important;
    color: white;
    border-radius: 10px;
    font-size: 16px;

}

.mat-mdc-table {
    border-radius: 8px;
    overflow: hidden !important;
    background-color: white !important;
    box-shadow: none;
}

.mat-mdc-row:nth-child(even) {
    background-color: #ebebeb;
}

.mat-mdc-row:nth-child(odd) {
    background-color: #fff;
}

mat-cell {
    border-bottom: 1px solid #E0E0E0;
    padding: 16px;
}

mat-cell button {
    background-color: #143354;
    color: #fff;
    border-radius: 6px;
    margin-right: 10px;
    padding: 8px 8px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

mat-cell button:hover {
    background-color: #7a9bbf;
    color: #fff;
    border-radius: 6px;
    padding: 8px 8px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}


.stepid {
    font-weight: 600;
}

.mat-column-description {
    flex: 0 0 40%;
}

.top-container {
    display: flex;
    justify-content: space-between;
}

.search-div {
    margin-right: 40px;
}

.search-div mat-form-field {
    width: 400px;
    height: 80px;
    top: 600px;
    flex: 1;
}




/* No Data Styling */
.noData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10%;
}

.noData p {
    font-weight: 500;
    color: rgb(183, 183, 183);
    margin-bottom: 20px;
}

/** Create Button Styling */
.addbutton {
    color: #fff;
    background-color: #143354;
    border-radius: 10px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
    box-shadow: none;
    border: none;
}

.viewButton {}



.createbutton:hover {
    background-color: #7a9bbf;
}

.pr-addbutton {
    background-color: #143354;
    color: white;
    border-radius: 10px;
    box-shadow: none;
}

.pr-addbutton:hover {
    background-color: #7a9bbf;
    color: white;
    border-radius: 10px;
    box-shadow: none;
}


:host ::ng-deep .mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 15px;

}

.div-spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}