<!--
  @component ProcessList Component
  @description Lists the available processes. And allows user to create new process.
-->

<!-- The top container div containing title, filter, create button-->
<div class="wrapper">
    <div class="top-container">
        <div>
            <h2>Process List</h2>
            <p>Create and Manage Process</p>
            <!-- Filter menu to filter the process by their revision status ans serach bar to filter by label-->
            <div class="filter-div">
            <mat-select [(value)]="revisionStatus" (selectionChange)="filterProcessList($event.value); filterBySearch()">
                <mat-option value="All">All</mat-option>
                <mat-option value="Archived">Archived</mat-option>
                <mat-option value="Draft">Draft</mat-option>
                <mat-option value="Published">Published</mat-option>
            </mat-select>
            <mat-form-field>
                <mat-icon matPrefix >search</mat-icon>
                <input  matInput placeholder="Search Process" type="search" [(ngModel)]="searchInput" (input)="filterBySearch()">
            </mat-form-field>
        </div>

        </div>
        <!-- Create Button to create a new process -->
        <button class="createbutton" (click)="createProcess()">Create Process</button>
    </div>
</div>

<div class="wrapper" *ngIf="response">

<!-- Mat Table to display the process details-->
<mat-table #table [dataSource]="filteredProcesses" class="mat-elevation-z0 custom-table">

    <!-- Process Entity ID Column-->
    <ng-container matColumnDef="entityid" sticky >
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell class="entityid" *matCellDef="let element">{{element.entityId}}</mat-cell>
    </ng-container>

    <!-- Process Name Column -->
    <ng-container matColumnDef="label">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> <a [routerLink]="['/process/', element.entityId]">{{element.label}}
            </a></mat-cell>
    </ng-container>

    <!-- Process Revision Status Column -->
    <ng-container matColumnDef="revisionStatus">
        <mat-header-cell *matHeaderCellDef> Revision Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.revisionStatus}} </mat-cell>
    </ng-container>

    <!-- Process Creation Time Column -->
    <ng-container matColumnDef="createdTime">
        <mat-header-cell *matHeaderCellDef> Created Time </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.createdTime}} </mat-cell>
    </ng-container>

    <!-- Process Updated Time Column -->
    <ng-container matColumnDef="updatedTime">
        <mat-header-cell *matHeaderCellDef> Updated Time </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.updatedTime}} </mat-cell>
    </ng-container>

  <!-- Actions Column - duplicate, delete, update -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
    <mat-cell class="hovering" *matCellDef="let element">
      <button class="iconButton"><i class="material-icons" (click)="duplicateProcess(element)">content_copy</i></button>
      <button class="iconButton"><i class="material-icons" (click)="deleteProcess(element.entityId)">delete</i></button>
      <button class="iconButton"><i class="material-icons" (click)="updateProcess(element)" >edit</i></button>
    </mat-cell>
  </ng-container>

    <!-- Display no data available message if no processes available -->
    <div *matNoDataRow class="noData">
        <img src="/assets/noData.jpg" />
        <p>No Process Found - Add Process</p>
            <button class="createbutton" (click)="createProcess()">Create Process</button>     
    </div>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
</div>
<div class="div-spinner" *ngIf="!response">
    <mat-spinner></mat-spinner>
</div>