/* Toolbar */
mat-toolbar {
  background-color: #ffff;
  padding: 10px 24px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 4px 8px rgba(143, 143, 143, 0.1);
}

/* Container for navigation links */
.nav-links {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
}

/* Menubar Links */
a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 14px 24px;
  font-weight: lighter;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: inline-block;
}

/* Active Link */
a.active {
  background-color: #143354;
  color: #ffff;
  border-radius: 10px;
}

/* Responsive adjustment */
@media screen and (max-width: 768px) {
  mat-toolbar {
    padding: 0 16px;
  }

  a {
    padding: 12px 16px;
    font-size: 15px;
  }
}

/* Menu Container */
.menu {
  background-color: white;
  border-top: 4px;
  border-bottom: 4px;
  padding-right: 25px;
  padding-left: 15px;
}

/* Logo */
.logoButton {
  float: left;
  position: relative;
  text-align: center;
  padding: 14px 50px 14px 16px;
}

/* Logout Button */
button {
  background-color: transparent;
  color: grey !important;
  width: auto;
  text-align: center;
  border-radius: 5px;
  border: none;
  font-size: 17px;
  cursor: pointer;
  margin-left: auto;
}

button:hover {
  background-color: #accbe3;
  color: white !important;
  transition: 0.7s;
  font-size: 17px;
  cursor: pointer;
}

/* Image Style */
img {
  padding-top: 1px;
  mix-blend-mode: multiply;
  position: absolute;
  left: -10px;
  top: -22px;
}
