<!--
  @component MenuComponent
  @description Provides navigation between pages.
-->
<div class="menu">
  <mat-toolbar>
    <div routerLink="/home" class="logoButton"> <img ngSrc="/assets/Logo2.png" height="50" width="60" alt="Logo" priority></div>
    <a [routerLink]="['/home']" [ngClass]="{'active': isActive('/home')}">Home</a>
    <a [routerLink]="['/process']" [ngClass]="{'active': isActive('/process')}">Process Builder</a>
    <a [routerLink]="['/support']" [ngClass]="{'active': isActive('/support')}">Decision Support</a>
    <a [routerLink]="['/generate/report']" [ngClass]="{'active': isActive('/generate/report')}">Generate Report</a>
    <button (click)="logout()" *ngIf="authService.isLoggedIn()">Logout</button>
  </mat-toolbar>
</div>
