<!--
  @component AuthenticateComponent
  @description This component handles user authentication, including login and logout functionality.
-->
<img ngSrc="/asset/Logo.png" height="80" width="90" alt="Logo" priority>
<div class="div-wrapper">
  <div class="div-container">
    <!-- Title Section -->
    <div class="title-container">
      <h2> LOGIN </h2>
    </div>

    <div class="form-container">
      <!-- Form for Logging In -->
      <form (ngSubmit)="login()" class="c">
        <p> Username </p>
        <mat-form-field class="username-input" appearance="outline">
          <input matInput  type="text" id="username" placeholder="username"[(ngModel)]="username" name="username" required>
        </mat-form-field>
        <p> Password </p>
        <mat-form-field class="password-input" appearance="outline">
          <input matInput  type="password" id="password" placeholder="********" [(ngModel)]="password" name="password" required>
        </mat-form-field>
        <br />
        <!-- Submit Button -->
        <button mat-button  type="submit"> Login </button>
      </form>
      <!-- </div>

       Logout Button (only visible if logged in)
       <button (click)="logout()" *ngIf="authService.isLoggedIn()"> Logout </button>
   </div> -->
    </div>
