body {
  font-family: 'Roboto', Arial, sans-serif;
}

img {
  margin-top: -1%;
  padding-top: 0%;
  padding-left: 0%;
}

.div-wrapper {
  margin: auto;
  width: 50%;
  padding: 8% 0 0;
  margin-left: 34%;
  margin-top: -10%;
}

.div-container {
  position: relative;
  z-index: 1;
  background-color: #fff;
  max-width: 390px;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 8%;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M 0 100 Q 50 60, 100 50 L 100 100 Z" fill="rgba(240, 240, 240, 0.5)" /></svg>');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center 20%;
}

:host ::ng-deep .mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 15px;
}

.username-input {
  width: 100%;
}

.password-input {
  width: 100%;
}

button {
  background-color: #accbe3;
  color: #fff !important;
  width: 30%;
  font-size: 20px;
  border-radius: 5px;
}

button:hover {
  background-color: #7a9bbf;
}

h2 {
  font-style: bold;
  font-size: 35px;
}

.login {
  font-style: bold;
  font-size: 35px;
  text-align: center;
}

p {
  font-size: 20px;
}
