<!--
  @component NewInvestigationDialog Component
  @description A component that pops up and recieves the name and process type of a new investigation.
-->

<h2 mat-dialog-title> Decision Support </h2>

<form [formGroup]="form" (ngSubmit)="save()">
    <mat-dialog-content>
        <!-- Collecting name of the investigation -->
        <p> Title </p>
        <mat-form-field>
            <input matInput formControlName="name" placeholder="Title" required>
        </mat-form-field>

        <!-- Collecting process type of the investigation -->
        <p> What process will you follow? </p>
        <mat-form-field>
            <mat-select formControlName="process_id" placeholder="Select Process">
                <mat-option *ngFor="let processId of processId" [value]="processId.value"> {{processId.label}} </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-dialog-content>

    <!-- Close and submit form buttons -->
    <mat-dialog-actions>
        <button mat-button (click)="close()"> Close </button>
        <button mat-button color="primary" type="submit" [disabled]="form.invalid"> Create </button>
    </mat-dialog-actions>
</form>