<!--
  @component Save Decision Support Dialog Component
  @description Dialog with confirmation message and actions to save a decison support.
-->

<!-- Mat Dialog with Mesaage and action buttons -->
<h2 mat-dialog-title>Save Decision Support</h2>
<mat-dialog-content>
    <h3>Are you sure you want to save this decision support?</h3>
    <p>Note: You can't make any changes once the decision support is saved.</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="closeButton" mat-button (click)="close()">No</button>
    <button class="binButton" mat-button color="primary" (click)="ok()">Save</button>
</mat-dialog-actions>
